﻿@model GiaoHangTietKiem.Models.NhaKho

@{ ViewBag.Title = "DeleteStoreHouse";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<h2 class="header-elements">XOÁ NHÀ KHO</h2>
<h3 class="header-elements">Bạn có chắc muốn xoá nhà kho này?</h3>
<style>
    .header-elements {
        margin: 20px;
    }
</style>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SucChua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SucChua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKV)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Trở lại", "IndexStoreHouse")
                </div>}
</div>