﻿@model GiaoHangTietKiem.Models.NhanVien

@{ ViewBag.Title = "DeleteStaff";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<h2 class="header-elements">XOÁ NHÂN VIÊN</h2>
<h3 class="header-elements">Bạn có chắc muốn xoá nhân viên này?</h3>
<style>
    .header-elements {
        margin: 20px;
    }
</style>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNK)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Trở lại", "IndexStaff")
                </div>}
</div>