@@ -1,67 +0,0 @@
﻿@model GiaoHangTietKiem.Models.KhachHang

@{ ViewBag.Title = "DeleteCustomer";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<h2 class="header-elements">XOÁ KHÁCH HÀNG</h2>
<h3 class="header-elements">Bạn có chắc muốn xoá khác hàng này?</h3>
<style>
    .header-elements {
        margin: 20px;
    }
</style>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>Họ tên</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            <strong>Số điện thoại</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            <strong>Địa chỉ</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            <strong>Giới tính</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

    </dl>
    <style>
        .dl-horizontal {
            margin-left: 20px;
        }
    </style>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="DeleteCustomer" class="btn btn-default" /> |
                    @Html.ActionLink("Trở lại", "IndexCustomer", "Admin")
                </div>}
</div>