﻿@model GiaoHangTietKiem.Models.PhongBan

@{ ViewBag.Title = "DeleteDepartment";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<h2 class="header-elements">XOÁ PHÒNG BAN</h2>
<h3 class="header-elements">Bạn có chắc muốn xoá phòng ban này?</h3>
<style>
    .header-elements {
        margin: 20px;
    }
</style>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhiemVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhiemVu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Trở lại", "IndexDepartment")
                </div>}
</div>