﻿@model GiaoHangTietKiem.Models.KhachHang

@{ ViewBag.Title = "DetailsCustomer";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<h2 class="header-elements">CHI TIẾT THÔNG TIN KHÁCH HÀNG</h2>
<style>
    .header-elements {
        margin: 20px;
    }
</style>

<div>
    <hr />
    <dl class="dl-horizontal">
        <p><strong>Họ tên: </strong>@Html.DisplayFor(model => model.TenKH)</p>
        <p><strong>Số điện thoại: </strong>@Html.DisplayFor(model => model.SDT)</p>
        <p><strong>Địa chỉ: </strong>@Html.DisplayFor(model => model.DiaChi)</p>
        <p><strong>Giới tính: </strong>@Html.DisplayFor(model => model.GioiTinh)</p>
    </dl>
    <style>
        .dl-horizontal {
            margin-left: 20px;
        }
    </style>
</div>
<p class="actionDesign">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Trở lại", "IndexCustomer", "Admin")
</p>
<style>
    .actionDesign {
        margin-left: 20px;
    }
</style>